# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
build/classes
build/dependency-cache
build/natives
build/sources
build/classes
eclipse/

# Ignore Gradle GUI config
gradle-app.setting



